body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.back-button {
  text-decoration: none;
  color: #5CDB95;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  transition: all 0.3s ease;
}

.back-button:hover {
  color: #3f9565;
}

.judul {
  font-size: 28px;
  margin-bottom: 10px;
}

.tanggal {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.gambar {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
}

.isi {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

@media (max-width: 768px) {
    .container {
      max-width: 500px;
      margin: auto;
      background: white;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      border-radius: 15px;
    }

    .back-button {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .judul {
      font-size: 18px;
    }

        .tanggal {
      font-size: 12px;
    }

    .isi {
      font-size: 14px;
    }
} 
